[Desktop Entry]
Version=0.9.0
Type=Application
Name=boostnote
Comment=A note-taking app for programmers
Exec=pats-boostnote
Icon=${SNAP}/meta/gui/app.png
MimeType=image/x-foo;